

<!-- // embed the header module to this page -->
<% include header %> 


    <!-- main container ------------------------------------------------------------------------------------------------- -->

    <div id="container">
      
      <p id="sale_infor" >YOUR SAFETY IS OUR PRIORITY. OUR NORTH AMERICA STORES ARE CLOSED UNTIL 3/29.<u> LEARN MORE</u></p>

      <div id="breadscrum">
        <a href="">Home</a> /
        <a href="">Mens</a> /
        <a href="">Jeans</a> /
        <a id="active_bread" href="#"><%= prd_name  %> </a>
      </div>

      <div id="main_infor">
        <!-- thumbnail images -->
        <section id="prd_img">
          <div id="thum_img">
              <img onclick="currentSlide(1)" class="thum_prd" src="images/prd4/prd_img1.png" alt="">
              <img onclick="currentSlide(2)" class="thum_prd" src="images/prd4/prd_img2.png" alt="">
              <img onclick="currentSlide(3)" class="thum_prd" src="images/prd4/prd_img3.png" alt="">
              <img onclick="currentSlide(4)" class="thum_prd" src="images/prd4/prd_img4.png" alt="">                                        
          </div>

          <!-- big images -->
          <div id="big_img">
            <img class="big_prd active_img" src="images/prd4/prd_img1.png" alt="">
            <img class="big_prd" src="images/prd4/prd_img2.png" alt="">
            <img class="big_prd" src="images/prd4/prd_img3.png" alt="">
            <img class="big_prd" src="images/prd4/prd_img4.png" alt="">   
          </div>
        </section>

        <section id="prd_option">
          <p class="prd_type">TOMMY JEANS</p>
          <h2 class="prd_name"><%= prd_name  %> </h2>
          <p class="prd_price"><%= price  %> </p>
          <p class="small_silver prd_color">Color: <span style="color : navy;"><%= prd_color  %> </span></p>
          <!-- color seclector button -->
          <div class="color_border">
          <a role="radio"><img class="prd_color_button" src="images/color_select.png"></a>
          </div>

          <!-- size selcetor -->
          <div class="size_selector">
            <div class="size_guide">
              <span class="small_silver" style="vertical-align: top;">Waist :</span>
              <span class="small_silver" style="float: right; margin-right: 20px;"><a href="#">Size Guide</a></span>
            </div>

            <ul role="radiogroup">
                  <li onclick="redit()" role="radio" class="available" id="size1"><span>29</span></li>
                  <li role="radio" class="available"><span>30</span></li>
                  <li role="radio" class="available"><span>31</span></li>
                  <li role="radio" class="available"><span>32</span></li>
                  <li role="radio" class="available"><span>33</span></li>
                  <li role="radio" class="available"><span>34</span></li>               
                  <li role="radio" class="available"><span>36</span></li>          
                  <li role="radio" class="available"><span>38</span></li>
            </ul>               
          </div>

          <!-- length selector -->
          <div id="length" class="size_selector">
            <p class="small_silver">Length :</p>
            <ul role="radiogroup">
                  <li role="radio" class="available"><span>29</span></li>
                  <li role="radio" class="available"><span>30</span></li>
                  <li role="radio" class="available"><span>31</span></li>
            </ul>               
          </div>

          <!-- add to bag button -->
          <div class="bag">
            <p class="small_silver">Quantity :</p>
            <a href="#" onclick="buyIt()"><div class="buy_button"><span class="addtocart ">ADD TO BAG</span></div></a>
            <a href="#"><img class="fit_finder" src="images/fit_finder.png"></a><span><a href="#"><u>Find your size</u></a></span>
          </div>  

          <div class="prd_des">
            <p>
              Hilfiger men's jean. Styled from super stretch denim in a vintage wash with authentic fading, this pair looks and feels like you were wearing them since, well, since before they were vintage. Part of our Tommy Jeans collection.
            </p>
            <br>
            <ul>
              <li>Scanton Fit- Sits below waist, cut slim from hip to hem.</li>
              <li>93% cotton, 4% elastane, 3% polyester.</li>
              <li>Imported.</li>
            </ul>
            <p style="padding-top: 10px;">Style #:  <span><%= prd_id  %></span></p>
          </div>

          <!-- term menu ............... -->
          <div class="prd_term">
            <ul>
              <li>SHIPPING & RETURNS 
                <i class="fas fa-plus" id="show1" onclick="showUnder1()"></i>
                <i class="fas fa-minus" id="hide1" onclick="hideUnder1()"></i>
              </li>
              <div class="term_detail" id="term1">
                <h3>SHIPPING <span class="underline">details</span></h3> 
                <p>
                  items are shipped from our warehouse within 1-2 full business days except where otherwise noted. 
                   Shipping restrictions may apply.
                </p> 
                <h3>RETURNS <span  class="underline">details</span></h3>
                <p>
                  We accept online returns within 30 days of shipping confirmation, and online returns from Canada within 40 days of shipping confirmation. 
                  In order to process your return, items must be unworn and tags must be attached. 
                  Items marked Final Sale are not eligible for a return, refund or credit.
              </p>
              </div>
              <li>CARE 
                <i class="fas fa-plus" id="show2" onclick="showUnder2()"></i>
                <i class="fas fa-minus" id="hide2" onclick="hideUnder2()"></i>
              </li>
              <div class="term_detail" id="term2">
                <p>
                  We accept online returns within 30 days of shipping confirmation, and online returns from Canada within 40 days of shipping confirmation. 
                  In order to process your return, items must be unworn and tags must be attached. 
                  Items marked Final Sale are not eligible for a return, refund or credit.
              </p>
              </div>
              <li>SHARE</li>
              <div class="social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-instagram-square"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="far fa-heart"></i>WHISH LIST</span>
              </div>
            </ul>
          </div>
        </section>

<!-- related product ..................................... -->
        <section class="relation">
          <h2> CUSTOMER ALSO BOUGHT</h2>
          <div class="relate_prd">

            <% dataJson.product.forEach(function(prd){ %>     <!--  include Json data to html -->
            
            
              <div class="relate_img">
              <a href="<%= prd.prd_url %>">
                <img src="<%= prd.prd_feature_img %>">
                <h4 class="relate_h4"><%= prd.prd_name %></h4>
                <p class="relate_p"><%= prd.prd_price %> </p>
              </a>
              </div>
  
            <% }) %> 

            <!-- 
            <div class="relate_img">
              <img src="images/relate_prd4.png">
              <h4>RAW DENIM STRAIGHT FIT JEAN</h4>
              <p>87.99$</p>
            </div>

            <div class="relate_img">
              <img src="images/relate_prd4.png">
              <h4>MID RISE SLIM FIT JEAN</h4>
              <p>126$</p>
            </div>     

            <div class="relate_img">
              <img src="images/relate_prd4.png">
              <h4>SLIM FIT JEAN</h4>
              <p>211$</p>
            </div> 
            -->


          </div>  
        </section>

        <!-- join club section .............................. -->
        <section class="join_club">
          <div class="join_left">
            <h2>JOIN THE HILFIGER CLUB</h2>
            <p>For a 20% off welcome offer and much more</p>
          </div>
          <div class="join_right">
            <input type="text" placeholder=" Your Email" id="emailSub" name="email_sub" value="">
            <span><button class="subscribe" onclick="showSub()">SUBSCRIBE</button></span>
            <div>
              <span class="agree_check"><input type="checkbox" aria-required="true"></span>
              <span class="agree_text" id="end">
              <p class="small_silver">I would like to join the Hilfiger Club and receive updates on the latest products and promotions via email or other channels. 
                Please see our <u>Privacy Policy</u> for more information.</p>
              <p class="small_silver">By submitting my information I agree to the <u>Terms & Conditions.</u></p>
              </span>
            </div>
          </div>
        </section>  

    </div>
    
    <!-- fixed feedback ...................... -->
    <div class="feedback">
      <a href="#">
      <img src="images/feedback.png" width="40" height="130">
      </a>
    </div>

    <!--Up to top / bottom .............................. -->
    <div class="top_bottom" id="top_bottom">
      <a href="#"><img class="turn_top" src="images/up_to_top.png"></a>
      <a href="#end"><img class="turn_bottom" src="images/up_to_bottom.png"></a>
    </div>



<!-- // embed the footer module to this page -->
<% include footer %>
